<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fraud Finder</title>
  <meta name="description" content="The Galvanize Fraud">
  <meta name="author" content="DSI Instructor">
  <style>
    body {
      background-color: lightblue;
    }
    h1 {
      color: white;
      text-align: center;
    }
    p {
      font-family: verdana;
      font-size: 20px;
      color:
      text-align: center;
    }
  </style>

<body>
  <h1><center>The Galvanize Fraud Recegnizer</h1>
  <p><center>This application can tell which event is fraud, Please click "submit" to see the result </p>
  <form action="/model_summery" method='POST' >
  <input type="submit"/>
</body>
</html>
